@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/mixin';
.log-out {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    .backdrop {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.455);
        .log-out-modal-content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            @include media-sm {
                margin: 30px;
            }
            .content-log-out {
                background-color: white;
                width: 500px;
                height: 200px;
                padding: 20px;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include media-sm {
                    width: 98%;
                }
                .text-content {
                    margin-bottom: 20px;
                    color: $primary;
                    font-size: 26px;
                    font-weight: 700;
                }
                .buttons {
                    @include media-sm {
                        display: flex;
                    }
                    .button-log-out {
                        font-size: 16px;
                        width: 130px;
                        height: 52px;
                        border-radius: 40px;
                        text-transform: capitalize;

                    }
                    .cancel-button {
                       margin-right: 20px;
                       border-color: $primary;
                       color: $primary;
                    }
                    .log-out-button {
                        background-color: $primary;
                        font-weight: 700;
                    }
                }
            }
        }   
    }
}