.teacher-dashboard {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  & .teacher-dashboard-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    & .teacher-dashboard-header {
      display: flex;
      justify-content: space-between;
      align-items: last baseline;
      & .teacher-dashboard-greeting {
        text-align: left;
      }
      & .teacher-dashboard-menu {
        & Button {
          gap: 8px;
        }
      }
    }
  }
}
