@import '../../../assets/scss/variables.scss';
.terms-of-policy-content {
    padding-top: 120px;
    padding-bottom: 120px;
    & .privacy-header-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        h1 {
            color: $text-black;
            font-size: 38px;
            margin: 0;
        }
    }
    & .privacy-body-texts {

        & .privacy-body {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            p {
                &:first-child {
                    display: flex;
                    margin: 0;
                    font-size: 26px;
                    color: black;
                    font-weight: 600;
                }
                &:last-child {
                    display: flex;
                    margin: 0;
                    font-size: 20px;
                    color: $text-black;
                    font-weight: 500;
                }
            }
        }
    }
}